<div id="main">
    <div>
        <div class="header-position">
            <h2 class="section-header" translate>information.apartment.heading</h2>
        </div>
        <div class="row">
            <section class="column">
                <ul>
                    <li>
                        <i class="icon-warehouse"></i>
                        <span class=details-item translate>information.apartment.subheading.house</span>
                    </li>
                    <li>
                        <i class="icon-bed"></i>
                        <span class="details-item" translate>information.apartment.subheading.beds</span>
                    </li>
                    <li>
                        <i class="icon-signal"></i>
                        <span class="details-item" translate>information.apartment.subheading.wifi</span>
                    </li>
                    <li class="last-item">
                        <i class="icon-cab"></i>
                        <span class="details-item" translate>information.apartment.subheading.car</span>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>