<div class="container">
    <div class="header-section">
        <h2 class="gallery-header" translate>gallery.heading</h2>
        <button (click)="changeExpandedState()">
            <i [ngClass]="picturesExpanded ? 'icon-minus' : 'icon-plus'"></i>
        </button>
    </div>
    <div *ngIf="picturesExpanded" class="row ">
        <div class="column section">
            <img src="../../assets/images/carousel/carousel-slope.jpg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-spring.jpeg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-slope.jpg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-spring.jpeg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-slope.jpg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-spring.jpeg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-slope.jpg" style="width:100%">
        </div>
        <div class="column section">
            <img src="../../assets/images/carousel/carousel-slope.jpg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-spring.jpeg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-slope.jpg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-spring.jpeg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-slope.jpg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-spring.jpeg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-slope.jpg" style="width:100%">
        </div>
        <div class="column section">
            <img src="../../assets/images/carousel/carousel-slope.jpg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-spring.jpeg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-slope.jpg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-spring.jpeg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-slope.jpg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-spring.jpeg" style="width:100%">
            <img src="../../assets/images/carousel/carousel-slope.jpg" style="width:100%">
        </div>
    </div>
</div>