<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale-1">
  <title>Tegefjäll Åre</title>
</head>

<body>
  <app-header></app-header>
<nav class="menu" id="main-menu">
    <button class="menu-toggle" id="toggle-menu">
      toggle menu
    </button>
    <div class="menu-dropdown">
      <ul class="nav-menu">
        <li><a href="/area.html" translate>navbar.about-the-area</a></li>
        <li><a href="/what-to-do.html" translate>navbar.things-to-do</a></li>
        <li><a href="/images.html" translate>navbar.images</a></li>
        <li><a href="/aparment.html" translate>navbar.about-the-apartment</a></li>
        <li><a href="/contact-us.html"translate>navbar.contact-us</a></li>
      </ul>
    </div>
  </nav>
  <aside id="hero" class="hero">

    </aside>
  <!--<app-carousel [slides]="slides"></app-carousel>-->
  <app-location-description-section></app-location-description-section>
  <app-gallery></app-gallery>
  <app-apartment-description-section></app-apartment-description-section>
  <app-contact-section></app-contact-section>
  <app-footer></app-footer>
  <script type="text/javascript">
    (function() {
    var button = document.getElementById('toggle-menu');
    button.addEventListener('click', function(event) {
      event.preventDefault();
      var menu = document.getElementById('main-menu');  
      menu.classList.toggle('is-open');
    });
  })();
  </script>
</body>
</html>

