
.icon-mail:before { content: '\e800'; } /* '' */
.icon-road:before { content: '\e801'; } /* '' */
.icon-flight:before { content: '\e802'; } /* '' */
.icon-mail-1:before { content: '\e803'; } /* '' */
.icon-skiing:before { content: '\e836'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */