
.icon-mail:before { content: '\e800'; } /* '' */
.icon-road:before { content: '\e801'; } /* '' */
.icon-flight:before { content: '\e802'; } /* '' */
.icon-mail-1:before { content: '\e803'; } /* '' */
.icon-logout:before { content: '\e804'; } /* '' */
.icon-signal:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-minus:before { content: '\e807'; } /* '' */
.icon-skiing:before { content: '\e836'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */