<div id="main">
    <div class="row">
        <section class="column">
            <i class="icon-snowflake-o"></i>
            <h2 class="subtitle" translate>information.winter-time.heading</h2>
            <ul>
                <li class="last-item">
                    <i class="icon-skiing"></i>
                    <span class="details-item" translate>information.winter-time.subheading.downhill-skiing</span>
                </li>
            </ul>
        </section>
        <section class="column">
            <i class="icon-sun"></i>
            <h2 class="subtitle" translate>information.summer-time.heading</h2>
            <ul>
                <li class="list-item ">
                    <i class="icon-tree"></i>
                    <span class="details-item" translate>information.summer-time.subheading.hiking
                        </span>
                </li>
                <li class="list-item last-item">
                    <i class="icon-bicycle"></i>
                    <span class="details-item" translate>information.summer-time.subheading.downhill-bicycle</span>
                </li>
            </ul>
        </section>
        <section class="column">
            <i class="icon-road"></i>
            <h2 class="subtitle" translate>information.transportation.heading</h2>
            <ul>
                    <li class="list-item">
                        <i class="icon-train"></i>
                        <span class="details-item" translate>information.transportation.subheading.train
                            </span>
                    </li>
                    <li class="list-item last-item">
                        <i class="icon-flight"></i>
                        <span class="details-item" translate>information.transportation.subheading.flight</span>
                    </li>
                </ul>
        </section>
    </div>
</div>